@use './../common' as *;

%button {
  @include reset-button;
  @include px(em(12));
  @include py(em(6));
  @include font(size rem(14));
  border-radius: rem(4);

  @include mq(lg) {
    @include px(em(16));
    @include py(em(8));
    @include font(size rem(16));
  }
}

.button {
  &--fill {
    @extend %button;

    $fg: $white;
    $bg: $red500;

    border: 0;
    color: $fg;
    background: $bg;
  }
}
