@use "./../base";
@use "./../abstracts" as *;
@use "./icons";

.combobox {
  $light-text-color: $secondary-color;
  $dark-text-color: $accent-color;
  $font-mobile: $text-sm;
  $font-desktop: $text-xl;

  color: light-dark($light-text-color, $dark-text-color);

  border: 1px solid currentColor;
  @include flex-container(justify-center items-center row wrap, inline-flex);
  @include rounded();
  font-size: $font-mobile;
  @include mq(lg) {
    font-size: $font-desktop;
  }
  @include relative-container(svg);

  svg {
    pointer-events: none;
    font-size: $font-mobile;
    @include mq(lg) {
      font-size: $font-desktop;
    }

    &:nth-of-type(1) {
      left: $spacing-sm;
    }
    &:nth-of-type(2) {
      right: $spacing-sm;
    }
  }

  label {
    @include a11y-hidden;
  }

  select {
    color: inherit;
    appearance: none;
    border: 0;
    padding: $spacing-base $spacing-5xl;
    background-color: transparent;
  }
}
