@use "./../base";
@use "./../abstracts" as *;
@use "./icons";

.combobox {
  $light-text-color: $secondary-color;
  $dark-text-color: $accent-color;
  $font-mobile: $text-sm;
  $font-desktop: $text-xl;

  color: light-dark($light-text-color, $dark-text-color);

  border: 1px solid currentColor;
  // display: inline-flex;
  // flex-flow: row nowrap;
  // align-items: center;
  // padding: 6px 16px;
  @include rounded();
  display: inline-flex;
  position: relative;

  font-size: $font-mobile;
  @include mq(lg) {
    font-size: $font-desktop;
  }

  svg {
    position: absolute;
    top: 50%;
    inset-block-start: 50%;
    translate: 0 -50%;

    pointer-events: none;

    font-size: $font-mobile;
    @include mq(lg) {
      font-size: $font-desktop;
    }

    &:nth-of-type(1) {
      left: $spacing-sm;
    }
    &:nth-of-type(2) {
      right: $spacing-sm;
    }
  }

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  select {
    color: inherit;
    appearance: none;
    border: 0;
    padding: $spacing-base $spacing-5xl;
    background-color: transparent;
  }
}
