@use './../common' as *;

// 아이콘 공통
.icon {
  @include size(em(10), em(10));

  @include mq(lg) {
    @include size(em(15), em(15));
  }
}

// 커스텀 셀렉트
.select-language {
  $select-color: $gray500;
  $border-color: $gray300;

  display: inline-flex;
  border: 1px solid $border-color;
  @include relative();

  .icon--global,
  .icon--triangle {
    @include position(absolute, t 50%);
    pointer-events: none;
    translate: 0 -50%;
  }

  .icon--global {
    left: em(6);
  }

  .icon--triangle {
    right: em(6);
  }

  &__select {
    @include px(em(24));
    @include appearance;
    background: none;
    color: $select-color;
    border: 0;
    @include font(size rem(12));
    @include size(100%);
    @include py(em(6));
    @include px(em(24));

    @include mq(lg) {
      @include font(size rem(16));
      @include py(em(8));
      @include px(em(32));
    }
  }
}

// 입력 서식
.form-input {
  $primary-color: $red500;

  @include relative();

  input:not(:placeholder-shown) + &__label {
    top: -12px;
  }

  &__input {
    border: 0;
    padding: 0;
    @include size(100%);
    letter-spacing: -0.008px;
    @include font(size rem(14) lh 1.5);
    @include py(em(10));
    @include px(em(20));

    @include mq(2xl) {
      @include py(em(18));
      @include font(size rem(16));
    }
  }

  &__label {
    @include sr-only;
  }
}
