/* Error: Expected identifier.
 *    ,
 * 19 |     @
 *    |      ^
 *    '
 *   src/scss/components/_buttons.scss 19:6  @forward
 *   src/scss/components/_index.scss 1:1     @use
 *   src/scss/layout/_header.scss 2:1        @use
 *   src/scss/layout/_layout.scss 2:1        @forward
 *   src/scss/layout/_index.scss 1:1         @use
 *   src/scss/style.scss 2:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 19 \2502      @\a    \2502       ^\a    \2575 \a   src/scss/components/_buttons.scss 19:6  @forward\a   src/scss/components/_index.scss 1:1     @use\a   src/scss/layout/_header.scss 2:1        @use\a   src/scss/layout/_layout.scss 2:1        @forward\a   src/scss/layout/_index.scss 1:1         @use\a   src/scss/style.scss 2:1                 root stylesheet";
}
