@charset "UTF-8";
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* iframe, video 요소의 기본 스타일 */
iframe,
video {
  width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

em {
  font-style: normal;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: inherit;
  margin: 0;
  font: 1rem/1.5 "SUIT Variable", Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

nav ol,
nav ul {
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

b,
strong {
  font-weight: 700;
}

code,
kbd,
pre,
samp {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.625rem;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

canvas,
img,
svg,
video {
  max-width: 100%;
}

img {
  vertical-align: middle;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

button,
input {
  overflow: visible;
}

button,
input {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  cursor: pointer;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: inherit;
  display: table;
  color: inherit;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none !important;
}

:disabled {
  cursor: not-allowed;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 2.5px solid var(--focus, rgba(8, 105, 223, 0.7529411765));
  outline-offset: 0.5px;
  border-radius: 2px;
}

.icon {
  width: 0.625em;
  height: 0.625em;
}
@media (min-width: 960px) {
  .icon {
    width: 0.9375em;
    height: 0.9375em;
  }
}

.select-language {
  border: 1px solid #acacac;
  position: relative;
}
.select-language .icon--global,
.select-language .icon--triangle {
  position: absolute;
  top: 50%;
  pointer-events: none;
  translate: 0 -50%;
}
.select-language .icon--global {
  left: 0.375em;
}
.select-language .icon--triangle {
  right: 0.375em;
}
.select-language__select {
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  color: #757575;
  border: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.5625em;
  padding-left: 1.5625em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  gap: 16px;
  min-width: 18.75em;
}
@media (min-width: 1280px) {
  .header {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-right: 0;
    padding-left: 0;
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
    max-width: 90em;
  }
}
.logo {
  display: block;
  width: 5rem;
}
@media (min-width: 1280px) {
  .logo {
    width: 8.75rem;
  }
}

body {
  color: #fefefe;
  background-color: #010101;
}

/*# sourceMappingURL=style.css.map */
