@charset "UTF-8";
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* iframe, video 요소의 기본 스타일 */
iframe,
video {
  width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

em {
  font-style: normal;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: inherit;
  margin: 0;
  font: 1rem/1.5 "SUIT Variable", Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

nav ol,
nav ul {
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

b,
strong {
  font-weight: 700;
}

code,
kbd,
pre,
samp {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.625rem;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

canvas,
img,
svg,
video {
  max-width: 100%;
}

img {
  vertical-align: middle;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

button,
input {
  overflow: visible;
}

button,
input {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  cursor: pointer;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: inherit;
  display: table;
  color: inherit;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none !important;
}

:disabled {
  cursor: not-allowed;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 2.5px solid var(--focus, rgba(8, 105, 223, 0.7529411765));
  outline-offset: 0.5px;
  border-radius: 2px;
}

.button--fill {
  user-select: none;
  cursor: pointer;
  padding-right: 0.75em;
  padding-left: 0.75em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
@media (min-width: 960px) {
  .button--fill {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1rem;
  }
}

.button--fill {
  border: 0;
  color: #fefefe;
  background: #e50914;
}

.icon {
  width: 0.625em;
  height: 0.625em;
}
@media (min-width: 960px) {
  .icon {
    width: 0.9375em;
    height: 0.9375em;
  }
}

.select-language {
  display: inline-flex;
  border: 1px solid #acacac;
  position: relative;
}
.select-language .icon--global,
.select-language .icon--triangle {
  position: absolute;
  top: 50%;
  pointer-events: none;
  translate: 0 -50%;
}
.select-language .icon--global {
  left: 0.375em;
}
.select-language .icon--triangle {
  right: 0.375em;
}
.select-language__select {
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  color: #757575;
  border: 0;
  font-size: 0.75rem;
  width: 100%;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
@media (min-width: 960px) {
  .select-language__select {
    font-size: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
  }
}

.form-input {
  position: relative;
}
input:not(:placeholder-shown) + .form-input__label {
  top: -12px;
}
.form-input__input {
  border: 0;
  padding: 0;
  width: 100%;
  letter-spacing: -0.008px;
  font-size: 0.875rem;
  line-height: 1.5;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  padding-right: 1.25em;
  padding-left: 1.25em;
}
@media (min-width: 1280px) {
  .form-input__input {
    padding-top: 1.125em;
    padding-bottom: 1.125em;
    font-size: 1rem;
  }
}
.form-input__label {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1.5625em;
  padding-left: 1.5625em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  gap: 16px;
  min-width: 18.75em;
}
@media (min-width: 1280px) {
  .header {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
    max-width: 90em;
  }
}
.header__title {
  margin-right: auto;
}
.logo {
  display: block;
  width: 5rem;
}
@media (min-width: 1280px) {
  .logo {
    width: 8.75rem;
  }
}

.footer-wrapper {
  border-top: 1px solid #2f2f2f;
}

.footer {
  color: #acacac;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: -0.007px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-right: 1.5625em;
  padding-left: 1.5625em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
@media (min-width: 1280px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    margin-right: auto;
    margin-left: auto;
    max-width: 90em;
  }
}
.footer__description {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__description {
    flex-direction: row;
    gap: 16px;
  }
}
.footer__list {
  display: grid;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 10px;
  column-gap: 16px;
}
@media (min-width: 768px) {
  .footer__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1280px) {
  .footer__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.copyright {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}
.address {
  font-style: normal;
  color: #919191;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .address {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -0.008px;
  }
}

body {
  color: #fefefe;
  background-color: #010101;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, #000 30%, #000 100%), url(/assets/images/hero-bg-original.jpg);
}

.promotion__title {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}
.promotion__area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 3.125em;
  padding-bottom: 3.125em;
}
.promotion__description {
  line-height: 1.5;
}
.promotion__description--large {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1.25;
}
@media (min-width: 1280px) {
  .promotion__description--large {
    font-size: 3.75rem;
  }
}
.promotion__description--medium {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1280px) {
  .promotion__description--medium {
    font-size: 1.25rem;
    flex-direction: row;
  }
}
.promotion__description--small {
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1280px) {
  .promotion__description--small {
    font-size: 1rem;
  }
}
.promotion__description--xsmall {
  font-size: 0.75rem;
}
@media (min-width: 1280px) {
  .promotion__description--xsmall {
    font-size: 1rem;
  }
}

.membership-form__area {
  display: grid;
  grid-template-rows: repeat(2, 2.5rem);
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  row-gap: 0.75rem;
}
@media (min-width: 1280px) {
  .membership-form__area {
    grid-template-rows: repeat(1, 3.75rem);
    grid-template-columns: 1fr auto;
    row-gap: 0;
  }
}
.membership-form .form-input__input {
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  min-width: 15.3125rem;
}
@media (min-width: 1280px) {
  .membership-form .form-input__input {
    border-radius: 0;
    min-width: 33.75rem;
  }
}
.membership-form .button-membership {
  border-radius: 1.25rem;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  padding-right: 2.5em;
  padding-left: 2.5em;
}
@media (min-width: 1280px) {
  .membership-form .button-membership {
    border-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
