@use './../common' as *;
@use './header';
@use './footer';

body {
  $bg: $black;
  $fg: $white;

  color: $fg;
  background-color: $bg;

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      #000 30%,
      #000 100%
    ),
    url(/assets/images/hero-bg-original.jpg);
}
