@use "./../abstracts" as *;
@use "./../components/buttons";

.navigation {
  // @include position(fixed);
  position: fixed;
  inset: 0;
  // @include size(100%, 100vh);
  background-color: $white;
  translate: 0 -200%;
  transition: all 200ms;

  @include mq(lg) {
    // @include position(static);
    position: static;
    @include size(auto, auto);
    background-color: transparent;
  }

  &.navigation--open {
    translate: 0;
  }

  .menu--close {
    // @include position(absolute, 1rem 1rem initial initial);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 32px;

    @include mq(lg) {
      display: none;
    }
  }
}
