// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fefefe;
$black: #010101;

// Red ( 주요 색상 ) --------------------------------------------------------- /
$red100: #faced0;
$red200: #f59da1;
$red300: #ef6b72;
$red400: #ea3a43;
$red500: #e50914;
$red600: #b70710;
$red700: #89050c;
$red800: #5c0408;
$red900: #2e0204;

// Blue ------------------------------------------------------- /
$blue100: #cce3fb;
$blue200: #99c6f7;
$blue300: #66aaf3;
$blue400: #338def;
$blue500: #0071eb;
$blue600: #005abc;
$blue700: #00448d;
$blue800: #002d5e;
$blue900: #00172f;

// Green ---------------------------------------------------------- /
$green100: #d5f8e3;
$green200: #acf2c8;
$green300: #82ebac;
$green400: #58e590;
$green500: #2ede75;
$green600: #25b25d;
$green700: #1c8546;
$green800: #13592f;
$green900: #092c17;

// Gray ----------------------------------------- /
$gray100: #e3e3e3;
$gray200: #c8c8c8;
$gray300: #acacac;
$gray400: #919191;
$gray500: #757575;
$gray600: #5e5e5e;
$gray700: #464646;
$gray800: #2f2f2f;
$gray900: #171717;

// Font 관련 변수
$baseFont: 'SUIT Variable';
